@model HRM_Plus.Models.Puesto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Puesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionPuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelRiesgo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelRiesgo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioMinimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioMinimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalarioMaximo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalarioMaximo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActivo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
